.formContainer {
  display: flex;
  text-align: center;
}

.formContainer > div > div:last-child {
  margin: 20px 0;
}

.formContainer > div > div:last-child > div > button {
  font-size: 18px;
  color: #2f3cc7;
}
