/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  margin: unset;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-weight: bold;
  border-radius: 3px;
  filter: drop-shadow(2.5px 3.5px 1.5px black);
  background-color: white;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #cdcfd1;
  transform: scale(1.02);
  border-radius: 3px;
  font-weight: bold;
}

button:active {
  cursor: pointer;
  transform: scale(1);
  outline: 1px black;
  border-radius: 3px;
  font-weight: bold;
}
